*{
    font-family: sans-serif;
}

body {
    margin:0px;/*espacio exterior con respecto al borde del elemento*/
}
nav{
    background-color: #155bd5;
    text-align:center;/*alineado del texto*/
    padding: 20px;/*espacio interior con respecto al borde del elemento*/
    display: flex;
}
.nav-button{
    color:#e2f1ff;
    text-decoration: none;/*saco subrayado de la etiqueta <a>*/
    font-size: 20px;/*tamaño de la fuente*/
    padding: 10px;
}
.nav-logo{
    margin-right:100px;/*margen derecho*/
    max-height: 50px;
}
.align-middle{
    align-self: center;/*alinear elemento al centro verticalmente*/
}
.section-azul{
    padding:20px;
    background-color: #155bd5;
}
.section-gris{
    padding:20px;
    background-color: #e1e1e1;
}
.section-blanco{
    padding:20px;
    background-color: white;
}

section{            
    padding-left: 10% !important;
    padding-right: 10% !important;
    height: 100vh;/*vh = viewport height // vw = viewport width*/
}

.boton-get-started{
    text-decoration: none;
    border: 2px solid white;
    border-radius: 5px;
    color: #155bd5;
    padding: 10px;
    background-color: white;
}
.boton-get-started:hover{
    color:white;
    background-color: #155bd5;
}
.imagen-section {
    border-radius:10px;
    width: 100%;
}

.boton {
    padding:20px;
    border-radius: 10px;
    border: 2px solid #9e9e9e;
    text-decoration: none;
    color:#393939
}
.boton:hover{
    color:#155bd5;
    border:2px solid #155bd5;
}

.boton-azul{
    background-color: #155bd5;
    color: white;
}
.boton-azul:hover{
    background-color: transparent;
    color: #155bd5;
}

.w-100 {
    width: 100%;
}
.w-50 {
    width: 50%;
}

.span-titulo{
    background-color: transparent;
    color: #155bd5;
    border: 2px solid #155bd5;
    border-radius: 20px;
    padding: 10px;
}

.div-centrado{
    text-align: center;
}

.tarjeta{
    border: 2px solid rgb(186, 186, 186);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}
.tarjeta:hover{
    box-shadow: #9a9a9a 0px 10px 30px;
}

.icono-azul{
    color: #155bd5;
    font-size: 50px;
}

.boton-video:hover{
    opacity: .8;
}

.icono-menu{
    border-radius: 30px;
    color:white;
    border:solid 2px white;
    padding:20px;
    margin-right: 0px;
    margin-left: auto;
}

@media (max-width: 600px){
    .icono-menu{
        background-color: pink;
    }   
}